.menu-header {
  display: none;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 48px 40px;
  background-color: $WhiteBgColor;

  overflow-y: scroll;
  z-index: 3;

  &.backdrop--hidden {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.menu-list {
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 0;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $primery-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts-tel {
  display: block;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.78;
  letter-spacing: 0.02em;

  color: $accent-color;
}

.contacts-mail {
  display: block;
  margin-bottom: 64px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: $sec-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-contacts {
  padding: 0;
  margin: 0;
}

.menu-social {
  display: flex;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 400px) {
    flex-wrap: wrap;
  }
}

.social-page {
  position: relative;
  color: $accent-color;
  padding: 0;
  margin: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-color;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0.5px;
    height: 100%;
    transform: translateX(10px);
    background-color: $accent-color;
  }
}
