/* Portfolio */

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.button-filters {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
  }

  @media screen and (min-width: $desktop-width) {
    justify-content: center;
  }
}

.filters-item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }

  &:nth-last-child(-n + 2) {
    margin-top: 21px;

    @media screen and (min-width: $tablet-width) {
      margin-top: 0;
    }
  }
}

.filters {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px solid transparent;
  background-color: $SecondoryBgColor;
  color: $primery-text-color;
  font-weight: $SecondoryFontWeight;
  font-size: $SecondoryTextSize;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;

  transition: color 250ms $trans-duration,
    background-color 250ms $trans-duration;
}

.filters:hover,
.filters:focus {
  background-color: $accent-color;
  color: $text-color-snow;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  margin: 0;
  padding: 0;

  @media screen and (min-width: $tablet-width) {
    margin: -30px;
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop-width) {
    margin: -15px;
  }
}

.projects-items {
  background-color: $WhiteBgColor;

  &:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: $desktop-width) {
      margin-bottom: 15px;
    }
  }
}

.projects-items {
  @media screen and (min-width: $tablet-width) {
    margin: 15px;
  }
}

.project-link {
  list-style: none;
  display: block;

  transition: box-shadow 250ms $trans-duration;

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-content {
  background-color: $WhiteBgColor;
  padding: 20px 24px 20px 24px;
  border-top: 0px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
}

.project-title {
  margin: 0;
  padding: 0;

  margin-bottom: 4px;
  color: $primery-text-color;
  font-weight: $PrimeryFontWeight;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  margin: 0;
  padding: 0;

  color: $sec-text-color;
  font-size: $SecondoryTextSize;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
