$SecondoryBgColor: #f5f4fa;
$DarkBgColor: #2f303a;
$WhiteBgColor: #ffffff;
$HeroBgColor: #c4c4c4;
$ColorOverlay: rgba(47, 48, 58, 0.4);
$IconColor: #afb1b8;
$FooterIconColor: rgba(255, 255, 255, 0.1);

$text-color-snow: #ffffff;
$text-heder-logo-color: #000000;
$primery-text-color: #212121;
$sec-text-color: #757575;
$accent-color: #2196f3;
$addres-link-color: rgba(255, 255, 255, 0.6);

$trans-duration: cubic-bezier(0.4, 0, 0.2, 1);

$PrimeryTextSize: 14px;
$SecondoryTextSize: 16px;

$PrimeryFontWeight: 700;
$SecondoryFontWeight: 500;

